@page "/games"
@inject NavigationManager NavigationManager
@inject IGameServices GameService
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
<Dialog @rendermode="RenderMode.InteractiveServer" />
<h3>GameList</h3>

@if(games == null)
{
    <span> laoding....</span>
}
else if(games.Count ==0)
{
    <span> no games are found</span>
}
else
{
    <ul>
        @foreach(var game in games)
        {
            <li>@game.Name</li>
        }
    </ul>
}
<button @onclick="CreateGame" class="btn btn-primary">Create Game</button>
@code {

    List<Game> games = null;

    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetGamesAsync();
    }
   public void CreateGame()
    {
        NavigationManager.NavigateTo("edit-game");
    }
}
